.scene-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  pointer-events: none;
}

.scene-container canvas {
  width: 100% !important;
  height: 100% !important;
  pointer-events: all;
}
